body{
  font-family: 'Optima', 'sans-serif', 'Arial';
}

.main-container {
  /* Draw a solid border make it turquoise */
  border-style: groove;
  border-width: 10px;
  border-color: turquoise;
  /*Add space between the border and its inside elements. */
  padding: 10px;

  /* Color the background light pink. */
  background-image: url('../images/polka dot.png');
  width: 75%;
  margin: auto;
}

div.align{
  text-align: center;
}

.secondary-container{

  margin: auto;
  width:30%;
  padding: 50px;
  border-bottom: 1px black solid;
  border-spacing: inherit;
}

.third-container{
  margin: auto;
  width: 50%;
  background-color: #FFB6C1;
  color: black;
  font-weight: bolder;
  text-align: center;
}



#mainheader{
    position: relative;
    left: 20px;
    top:5px;
    color: lightblue;
    opacity: solid;
    font-size: 60px;
    background-color: #FFB6C1;
    width: 30%;
    font-weight: bolder;
}
